<!doctype html>
<html>
  <head>
    <title>Chartopia!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  </head>
  <body>
    <article class="athelas">
      <div class="vh-100 dt w-100 tc bg-dark-gray white cover pa3" style="background:url(/static/almanor.jpg) no-repeat center;">
        <div class="dtc v-mid">
          <header class="white-90">
            <h2 class="f6 fw1 ttu tracked mb2 lh-title">Chart generation API</h2>
          </header>
          <h1 class="f1 f-headline-l fw1 i white-80">Chartopia</h1>
          <blockquote class="ph0 mh0 measure f4 lh-copy center">
            <p class="fw1 white-90">
            A GraphQL API where you send in data and get images. None of this silly Javascript nonsense.
            </p>
            <cite class="f6 ttu tracked fs-normal">By Nat Welch</cite>
          </blockquote>
        </div>
      </div>

      <div class="measure-wide center f5 pv5 lh-copy ph3">
        <p>
          <strong>tl;dr</strong> Play with the API at <a href="/play">chartopia.app/play</a>.
        </p>

        <h3>What?</h3>

        <p>
          Chartopia is a new (as of the end of 2018) service. It is free, although that may change in the future. The idea is to imitate the old Google Charts API, where you submitted data to Google and got a chart that never changed. We aim to be a little more modern by creating a GraphQL API so you can submit as much data as you would like.
        </p>
        
        <p>
          We are still very much in the early days. We currently support three types of charts: a line chart, a pie chart and a time series chart. We are working in our free time to add support for other chart types, as well as add URL parameters to change the charts' styling on the fly. We are also planning on adding user accounts and chart analytics for folks.
        </p>

        <h3>Examples!</h3>
        
        <p>
          An example chart generated by Ruby (<a href="https://github.com/icco/charts/blob/03345ac896ab524ba67448171fe7c10fec4311c4/examples/s%26p%20500%20ruby/500.rb">code</a>):
        </p>

        <img class="db w-100" src="https://chartopia.app/graph/5ab17c8d-b491-47b7-9038-fcddc801694f">

        <p>Another silly example, the following graphql mutation</p>

        <code class="pre db">
mutation {
  createLineGraph(
    input: {
      data: [
        { x: 1.0, y: 5.0 }
        { x: 4.0, y: 3 }
        { x: 6.0, y: 9 }
        { x: 2.0, y: 3.6 }
        { x: 0, y: 4 }
        { x: 12, y: 9.13 }
        { x: 10.6, y: 0 }
        { x: 7.1, y: 1 }
      ]
    }
  ) {
    url
  }
}
        </code>

        <p>
        Creates this graph
        </p>

        <img class="db w-100"  src="https://chartopia.app/graph/8c672f7c-dd25-40cf-a8d9-bcd7b8a69f4a">

        <h3>Get Involved</h3>

        <p>Chartopia is currently serving over {{ .count }} charts!</p>

        <p>If you would like to get involved, we are open source. Our code is at <a href="https://github.com/icco/charts">github.com/icco/charts</a>.</p>
      </div>
    </article>
  </body>
</html>
