<!doctype html>
<html>
  <head>
    <title>Chartopia!</title>
  </head>
  <body>
    <h1>Chartopia</h1>
    <h2>A chart generation API</h2>

    <p>Currently serving over {{ .count }} charts!</p>
  </body>
</html>
